#wrapper {
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    background-color: #EEEEEE;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #666666;
    color: #FFFFFF;
}

.content--container {
    background-color: #FFFFFF;
}

.content--title {

}

.content--image {

}

nav.navbar {
    background-color: #FFFFFF;
}

/* For Viewports >= 768 */
@media screen and (min-width: 768px) {
    .content--image {
        max-width: 200px;
        height: auto;
    }
} 