html, body {
    font-family: 'Ubuntu', sans-serif;
}

#wrapper {
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    background-color: #EEEEEE;
    background-image: url('../img/fresh_snow_@2X.png');
    background-size: 50% 50%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #666666;
    color: #FFFFFF;
}

.content--container {
    background-color: #FFFFFF;
}

h1.content--title {
    font-family: 'Gelasio', serif;
    font-size: 1.5rem;
}

nav.navbar {
    background-color: #FFFFFF;
}

.content--portfolio-item {

}

/* For Viewports >= 768 */
@media screen and (min-width: 768px) {
    .content--image {
        max-width: 200px;
        height: auto;
    }
    h1.content--title {
        font-size: 2rem;
    }
} 