html, body {
    font-family: 'Ubuntu', sans-serif;
}

#wrapper {
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 87px;
    position: relative;
    background-color: #EEEEEE;
    background-image: url('../img/fresh_snow_@2X.png');
    background-size: 50% 50%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #666666;
    color: #FFFFFF;
    border-top: 5px solid #7494EA;
}

.content--container {
    background-color: #FFFFFF;
}

h1.content--title {
    font-family: 'Gelasio', serif;
    font-size: 1.5rem;
}

nav.navbar {
    background-color: #FFFFFF;
    width: 100%;
    z-index: 999;
    top: 0;
}

a.navbar-brand {
    background-color: #7494EA;
    color: #FFFFFF;
}

a.navbar-brand:hover {
    background-color: #405180;
    color: #FFFFFF;
}

a.nav-link {
    color: #999999;
}

a.nav-link:hover {
    color: #7494EA;
}

.btn-primary {
    background-color: #7494EA;
    border: 1px solid #7494EA;
}

.btn-primary:hover {
    color: #fff;
    background-color: #405180;
    border-color: #405180;
}

.content--portfolio-item {
    height: 260px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content--portfolio-item.gary {
    background-image: url('../img/thumbs/gary-1.jpg');
}

.content--portfolio-item.gary:hover {
    background-image: url('../img/thumbs/gary-2.jpg');
}

.content--portfolio-item.meryl {
    background-image: url('../img/thumbs/meryl-1.jpg');
}

.content--portfolio-item.meryl:hover {
    background-image: url('../img/thumbs/meryl-2.jpg');
}

.content--portfolio-item.shamwow {
    background-image: url('../img/thumbs/shamwow-1.jpg');
}

.content--portfolio-item.shamwow:hover {
    background-image: url('../img/thumbs/shamwow-2.jpg');
}

.content--portfolio-item.tom {
    background-image: url('../img/thumbs/tom-1.jpg');
}

.content--portfolio-item.tom:hover {
    background-image: url('../img/thumbs/tom-2.jpg');
}

.content--portfolio-item.will {
    background-image: url('../img/thumbs/will-1.jpg');
}

.content--portfolio-item.will:hover {
    background-image: url('../img/thumbs/will-2.jpg');
}

.content--portfolio-item-name {
    color: #FFFFFF;
    background-color: #1B3B6F;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* For Viewports >= 768 */
@media screen and (min-width: 768px) {
    .content--image {
        max-width: 200px;
        height: auto;
    }
    h1.content--title {
        font-size: 2rem;
    }
    #wrapper {
        padding-top: 50px;
    }
} 